<%= stylesheet_link_tag "mindmap" %>
<%= javascript_include_tag "mindmap" %>
<div class="brainstorm">
  <h1 class="project">Brainstorm</h1>
  <p>Click start to create a mindmap!</p>
  <%= form_for(@mindmap, url: { action: "create" }, html: { class: "mindmap" }) do |mindmap| %>  
    <% if @mindmap.errors.any? %>
      <h2><%= pluralize(@mindmap.errors.count, "error")%> prohibited this post
        from being saved MAN!
      </h2>
      <ul>
        <% @mindmap.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= mindmap.text_field :mindmap_name, :placeholder => "name" %>
    <%= fields_for(@node) do |node| %>
    <div class="hidden">
      <%= node.text_field :source, :placeholder => "add a source" %> 
      <%= node.text_field :target, :placeholder => "add a target" %>
      <%= node.text_area :source_body, :placeholder => "add a source body" %>
      <%= node.text_area :target_body, :placeholder => "add a target body" %>
    </div>
    <% end %>
    <%= mindmap.submit "Start", :class => "submit" %>
    <hr>
  <% end %>
      <%= button_tag "Initialize with nodes", :id => "initialize" %>
  <div class="github">
    <%= link_to(image_tag("github2.png", size: "35x35", alt: "Github"), "http://github.com/clanofnoobs") %>
    <%= link_to(image_tag("facebook.png", size: "35x35", alt: "facebook"), "http://facebook.com/samiul.huq") %>
    <%= link_to(image_tag("twitter.png", size: "35x35", alt: "twitter"), "http://twitter.com") %>
  </div>
  <span class="createdby">created By <%= link_to "Samiul Huq", "http://samiulhuq.com" %></span>
</div>
